/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in thisa directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 font-family: 'Kosugi', sans-serif;
 background-color:  #FAFAFA;
}

header{
  background-color: white;
}

// headerページ
.header{
  border-bottom: 1px solid #707070;
}
.header_find_book{
  color: black;
  background-color: #FFE100;
  border-bottom: 5px solid #ccc100;
}

// aboutページ
.about_bg{
  background-image: url("bg-image.jpg");
  background-size: cover;
}

.title{
  font-weight: 900;
  font-size: 100px;
}

.about_find_book{
  color: black;
  background-color: #FED94D;
  border-bottom: 5px solid #ccc100;
}

.about_border{
  border-bottom: 1px solid #5B5B5B;
}

.about_whatjacket_left{
  background-image: url("about_what_jacket.jpg");
  background-blend-mode:lighten;
}

// user-showページ
.user_flex_box{
  border-bottom: 1px solid #707070;
}

.user_follow_list{
  border-bottom: 1px solid #707070;
}

// .user-review-item{
//   border-bottom: 1px solid #707070;
// }

//book-showページ
.show{
  color:#5B5B5B;
}

.show_read_icon{
  font-size: 40px;
}

.show_read_text{
  font-size: 18px;
}

.show_unread_icon{
  font-size: 40px;
}

.show_unread_text{
  font-size: 18px;
}

.show_comment_text{
  font-size: 18px;
}

.book_show_readon{
  background-color: #FFE100;
  color:#5B5B5B;
  &:hover{
    background-color: #ffe51f;
    color:#5B5B5B;
  }
}

.book_show_readoff{
  background-color: #FEF298;
  color:#5B5B5B;
  opacity: 0.9;
  &:hover{
    background-color: #FFF6B3;
    color:#5B5B5B;
  }
}

.book_show_unreadon{
  background-color: #FFE100;
  color:#5B5B5B;
  &:hover{
    background-color: #ffe51f;
    color:#5B5B5B;
  }
}

.book_show_unreadoff{
  background-color: #FEF298;
  color:#5B5B5B;
  opacity: 0.9;
  &:hover{
    background-color: #FFF6B3;
    color:#5B5B5B;
  }
}

