/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in thisa directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Noto Sans JP', sans-serif, "Kosugi";
}

body{
// background-color: #f5f5f5;
 background-color: #f1f1f2;
 font-family: 'Noto Sans JP', sans-serif, "Kosugi";
}

// headerページ
header{
  background-color: white;
}

.header_find_book{
  color: black;
  background-color: #FFE100;
  border-bottom: 5px solid #ccc100;
}

.n-circle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #efa04c;
}

// header開閉
.sidebar{
  position: relative;
}

.sidebar > aside{
  background-color:rgba(76,84,130,0.8);
  width: 350px;
  height: 100%;
  top: 0;
  // right: -350px;
  right: 100px;
  position: fixed;
}
.sidebar > aside ul{
  margin:0;
  padding:0;
  top: 50px;
  right: 114px;
  position: absolute;
}
.sidebar > aside li{
  margin: 20px auto;
  list-style: none;
}
.sidebar > aside button{
  background-color: rgba(76, 84, 130, 0.8);
  display: block;
  position: absolute;
  top: 15px;
  right: 350px;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border-radius: 0 5px 5px 0;
}


// aboutページ
.about_bg{
  overflow-x: hidden;
}
.about_vw{
  height:85vh;
  padding-top: 20vh;
}
.about_h1_item{
  font-weight: 900;
  font-size: 80px;
}

.about_slide_box{
  height:110%;
  width:110%;
}

.about_find_book{
  color: black;
  background-color: #FED94D;
  border-bottom: 5px solid #ccc100;
}

.about_what_h1{
  border-bottom: medium solid #2089f1;
}
.about_what_span{
  font-size: 20px;
  background-color: #ff9800;
  color: white;
}

.about_what_text{
  font-size: 18px;
}

.about_intro_orangeicon{
  color: #f7a02f;
}

.about_intro_orangetext{
  color: #f7a02f;
  background-color: #ff9800;
  color: white;
}

.about_intro_blueicon{
  color: #2f94f7;
}

.about_intro_bluetext{
  color: #2f94f7;
  background-color: #2f94f7;
  color: white;
}

// user-showページ
.user_show_readcomment{
  font-size:14px;

}

.user_show_btn{
  width:120px;
  height:70px;
  opacity: 50%;
  &:hover {
    opacity: 100%;
    background-color:#FFE100;
  }
}
.read_btn_active{
  opacity: 100%;
  background-color:#FFE100;
}

.book_show_readon{
  background-color: #FFE100;
  color:#5B5B5B;
  &:hover{
    background-color: #ffe51f;
    color:#5B5B5B;
  }
}

.book_show_readoff{
  background-color: #FEF298;
  color:#5B5B5B;
  opacity: 0.9;
  &:hover{
    background-color: #FFF6B3;
    color:#5B5B5B;
  }
}

.book_show_unreadon{
  background-color: #FFE100;
  color:#5B5B5B;
  &:hover{
    background-color: #ffe51f;
    color:#5B5B5B;
  }
}

.book_show_unreadoff{
  background-color: #FEF298;
  color:#5B5B5B;
  opacity: 0.9;
  &:hover{
    background-color: #FFF6B3;
    color:#5B5B5B;
  }
}

// simple-calendar
.simple-calendar {
 .day {}
 .wday-0 {}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {}
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {
   background: #FFE100;
 }
}


